body {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    padding-top:60px;
}


.search {
    display: flex;
    
    flex-direction:row ;
    
     justify-content: space-between;
     background-color: #ffffff;
     gap:20px;
     left:0;
     right:0;
     flex:1;
    top:0;
    position: fixed;
}
.search-bar {
    flex: 1;
    padding-left:10px;
    height:35px;
    border-style: solid;
    border-color:#b0b0b0;
    border-radius: 16px;
    
}

.middle {
    height: auto;
    width: 100%;
    flex: 1;
    border-radius: 8px;
    max-width: 500px;
    display:flex;
    align-items: center;
}
.ytimg {
    margin-top:20px;
    margin-left:20px;
}
.search-button {
    height: 40px;
    width: 60px;
    background-color: #fafafa;
    border-width: 2px;
    border-style: solid;
    border-color:#b0b0b0 ;
    margin-left: -15px;
}
.vs-button {
    height: 40px;
    width: 40px;
    background-color: #fafafa;
    border-width: 1px;
    border-style: solid;
    border-color:#e0e0e0 ;
    border-radius: 50%;
    margin-left: 5px;
}
.search-image {
    height: 30px;
    width: 40px;
    margin-top:3px

}
.vs-image {
    padding-top: 1px;
    padding-right: 5px;
    height: 35px;
    width: 45px;
    margin-top:3px
    
}
.grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    padding: 10px;
}



.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 8px; 
    
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; 
    margin-right: 8px; 
}

.pfp img {
    width: 100%;
    height: auto;
    margin-top:5px;
}

.text {
    flex-grow: 1; 
    color:#000000;
}

.mainh, .sideh {
    display: block;
}

.mainh {
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    font-weight: bold;
}

.sideh {
    color: #292828;
    font-size: 14px; 
}
